<?xml version="1.0"?>
<launch>

	<arg name="env_pack" default="/home/rover/catkin_ws/src/ipa_coverage_planning-noetic_dev/ipa_room_exploration/map" />
	<!--arg name="env_pack" default="/home/rover" /-->
	<arg name="robot_radius" default="0.25"/>
	<arg name="coverage_radius" default="1.1"/>.
	<arg name="use_test_maps" default="false"/>

	<!--  -->
	<node ns="room_exploration" pkg="ipa_room_exploration" type="room_exploration_client" name="room_exploration_client" output="screen">
		<rosparam file="$(arg env_pack)/map.yaml" command="load" />
		<param name="env_pack" value="$(arg env_pack)"/>
		<param name="robot_radius" value="$(arg robot_radius)"/>
		<param name="coverage_radius" value="$(arg coverage_radius)"/>
		<param name="use_test_maps" value="$(arg use_test_maps)"/>
	</node>


</launch>
